.flex-fill{
  width: 100%;
  height: calc(100vh - 40px);
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  position: relative;
}

.close{
  position: absolute;
  top: 1rem;
  right:1rem;
}